<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>

<h1>Job offers</h1>
<p>Do you want new great JOB? Visit our website.</p>

{{> footer}}
</body>
</html>